.notes-table-height {
  height: calc(100vh - 160px);
}

.notes-font {
  font-family: 'SF Pro Text';
}

.delete-alert button:first-child {
  color: #fff !important;
  background-color: #2f3941 !important;
}
